body{
  background-color: powderblue;
}
hr{

  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 50px;

}
h1{
  color: #66BFBF;
}
.circular{
  border-radius: 50%
}
